{
	"Nick": "srvbot",
	"Server": "irc.freenode.net",
	"Channels": ["#srvbot"],
	"Groups": ["all"],
	"Commands": {
		"restart": {
			"Command": "shutdown -r now",
			"Output": false
		}
	},
	"Logs": {
		"syslog": {
			"File": "/var/log/syslog",
			"Keep": 10
		}
	}
}
