{
	"Name": "srvbot",
	"Endpoints": [
		{
			"Driver": "irc",
			"Options": {
				"Nick": "srvbot",
				"Server": "irc.freenode.net",
				"Channels": ["#srvbot"]
			}
		},
		{
			"Driver": "slack",
			"Options": {
				"Token": "<TOKEN>",
				"Channels": ["#general"]
			}
		}
	],
	"Groups": ["all"],
	"Commands": {
		"restart": {
			"Command": "shutdown -r now",
			"Output": false
		}
	},
	"Logs": {
		"syslog": {
			"File": "/var/log/syslog",
			"Keep": 10
		}
	},
	"Monitors": {
		"mysql": {
			"Driver": "mysql",
			"Options": {
				"Connection": "root:root@/"
			}
		},
		"memory": {
			"Driver": "memory",
			"Options": {}
		}
	}
}
